<% include ../partials/header %>

<nav class="top-nav">
	<a id="logout" href="/logout">Logout</a>
</nav>

<main>
	<h1 class="page-title">Campaign Manager</h1>
	<section class="result-main">
		<button id="new-campaign">New Campaign</button>
		<a href="/campaign-manager/1/session-manager">Of Bone and Steel</a>
	</section>
</main>

<% include ../partials/footer %>