<% include ../partials/header %>

<nav class="top-nav">
	<p>
		<a href="/user-page">Back to User Page</a>
	</p>
</nav>

<main>
	<h1 class="page-title">Campaign Manager</h1>
	<section class="result-main">
		<button id="new-session">Add Session</button>
		<a href="/session-manager/1">Of Bone and Steel</a>
	</section>
</main>


<% include ../partials/footer %>