<!DOCTYPE html>
<html>
    <head>
        <title>Holonet Online Retrieval Network Interface</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/mainstyles.css">
    </head>
    
    <body>
		<header><h1>Holonet Online Retrieval Network Interface v1.0</h1></header>
